
@model EmployeeViewModel

<h1>Create New Employee</h1>
<br />
<br />

<form asp-action="Create">
   
    <partial name="PartialViews/CreateEditEmployeePartial"></partial>
    <input type="submit" value="Create" class="btn btn-primary mt-5" />
    <a asp-action="Index" class="btn btn-light mt-5">Back To List</a>
</form>
@section ValidateSection
{
    <partial name="_validationscriptspartial"></partial>
}

