
@model EmployeeViewModel

<h1>Department Detailes</h1>
<br />
<br />

<partial name="PartialViews/DetailsDeleteEmployeePartial"></partial>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mt-5">Edit </a>
    <a asp-action="Index"  class="btn btn-primary mt-5">Back To List </a>
</div>
@section ValidateSection
{
    <partial name="_validationscriptspartial"></partial>
}

