
@model Department


<h1>Are You Sure You Want Delete This Department?1</h1>

<form asp-action="Delete" asp-route-id="@Model.Id">
    <div>
        <label class="col-form-label" asp-for="Code"></label>
        <input type="text" asp-for="Code" class="form-control " readonly />

    </div>
    <div>
        <label class="col-form-label" asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" readonly />

    </div>
    <div>
        <label class="col-form-label" asp-for="DateOfCreation"></label>
        <input asp-for="DateOfCreation" class="form-control" readonly />
    </div>

    <input type="submit" value="Delete" class="btn btn-danger mt-5" />
    <a asp-action="Index" class="btn btn-primary mt-5">Cansel </a>
</form>
