
@{
    ViewData["Title"] = "checkYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		
		<div>
			<p>Password Reset Link has been send your email</p>
		</div>
		<div>
			<a href="https://mail.google.com/mail/u/0/#inbox">Your Inbox</a>
		</div>
	</div>
</div>

